<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379071078531-cpd0ep6tsmm671fphb54v9tgquqd2tb7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379071078531-cpd0ep6tsmm671fphb54v9tgquqd2tb7</string>
	<key>API_KEY</key>
	<string>AIzaSyAsjLG7gZCKq8LRxLfmfqpgEiaNoNzoWMw</string>
	<key>GCM_SENDER_ID</key>
	<string>379071078531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tradly.social.dev</string>
	<key>PROJECT_ID</key>
	<string>tradly-social</string>
	<key>STORAGE_BUCKET</key>
	<string>tradly-social.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379071078531:ios:5eaffb6c9f1f604224bbb6</string>
	<key>DATABASE_URL</key>
	<string>https://tradly-social.firebaseio.com</string>
</dict>
</plist>