<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>194464839382-joi6p3oba57arej7q0ahtr0tf8r51df5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194464839382-joi6p3oba57arej7q0ahtr0tf8r51df5</string>
	<key>API_KEY</key>
	<string>AIzaSyCyuDItaFT8h6I_kgXkiB95rXGYhdloeag</string>
	<key>GCM_SENDER_ID</key>
	<string>194464839382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.classbubs.app</string>
	<key>PROJECT_ID</key>
	<string>classbubs-b0345</string>
	<key>STORAGE_BUCKET</key>
	<string>classbubs-b0345.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194464839382:ios:feb6781a16b03ab5c5fb77</string>
	<key>DATABASE_URL</key>
	<string>https://classbubs-b0345-default-rtdb.firebaseio.com</string>
</dict>
</plist>